{% extends "base.html" %}

{% block title %}
<title>Timothy Baeder - Contact Me</title>
{% endblock %}

{% block content %}

<h3>Contact Me</h3>
<p>Send me a message and I'll get back to you when I can!</p>

{% if thanks %}
<p>Thanks for sending me a message! I'll get back to you soon.</p>
{% endif %}
<form action="" method="post">
      {% csrf_token %}
      {% for field in contact_me_form %}
      <div class="form-group">
        {{field.label_tag}}
        {{field}}
      </div>
      {% endfor %}
      <button class="btn btn-primary" type="submit" value="Submit" />Submit</button>
</form>

{% endblock %}
